.App {
  text-align: center;
}

body{
  background-image: url("../src/background.jpg");
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dadddf;
  opacity: 1; /* Firefox */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.progress {
  background-color: #F9F6FD;
  /* border-radius: 20px; */
  position: relative;

  height: 5%;
  width: 100vw;
}

.progress-done {
  background: linear-gradient(to left, #6a2cd8, #a478f1);

  /* border-radius: 20px; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
